/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.card-container {
  width: 320px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
}

.qr-image {
  width: 290px;
  border-radius: 10px;
  margin-top: 16px;
}

.text-container {
  padding: 20px;
}

.title {
  font-size: 22px;
}

.info {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin-top: 20px;
}
